@mixin stamp($fontSize: 24px, $colorMark: red) {
    font-size: $fontSize;
    color: $colorMark;
    text-transform: uppercase;
    border: 2px solid $colorMark;
    padding: 5px 10px;
    border-radius: .25rem;
    -webkit-mask-image: url('/assets/grunge.png');
    -webkit-mask-size: 944px 604px;
    -webkit-mask-position: 2rem 3rem;
    mask-image: url('/assets/grunge.png');
    mask-size: 944px 604px;
    mask-position: 2rem 3rem;
}