@use "_reset.scss";
@import "_highline.scss";
@import "_paper.scss";
@import "_stamp.scss";

@font-face {
    font-family: "Veteran TypeWriter";
    src:
        url("/fonts/veteran_typewriter.ttf"),
        local("veteran_typewriter.ttf") format("ttf");
}

$mainFont: "Veteran TypeWriter", "Courier New", Courier, monospace;
$bgColor: #eee;
$paperColor: #fff;
$borderSize: 30px;
$borderDir: left;
$stampColor: #ec1313;

@mixin a4-dimensions {
    @if ($borderDir == top) {
        width: calc(297mm - $borderSize);
        height: 210mm;
    } @else if ($borderDir == left) {
        width: calc(210mm - $borderSize);
        height: 297mm;
    }
}

@mixin font-settings($font-family, $font-size: 16px, $line-height: 1) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin rotate($segment:24) {
    @for $i from 1 through $segment {
        $angle: $i * calc(360 / $segment);
        .rot-#{$angle} {
            transform: rotateZ(#{if($angle > 180, $angle - 360, $angle)}deg);
        }
    }
}

html,
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    @include font-settings($mainFont);
    background: $bgColor;
}

main {
    display: flex;
    flex-direction: column;
    @include a4-dimensions;
    margin: auto;
    padding: 20mm;
    box-shadow:
        0 0 5px rgba(0, 0, 0, 0.07),
        0 0 15px rgba(0, 0, 0, 0.34),
        0 0 30px rgba(0, 0, 0, 0.67);
    border-radius: 5px;
    @include paper($paperColor, $bgColor, $borderSize, $borderDir);
    background: $bgColor;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

span {
    &.mark {
        @include highlight;
    }
    &.stamp {
        @include stamp(24px, $stampColor);
        &.big {
            font-size: 32px;
        }
        &.small {
            font-size: 16px;
        }
    }
    &.underline {
        text-decoration: underline;
    }
    &.bold {
        font-weight: bold;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    &::after {
        content: " :";
    }
}

h4 {
    margin: 0.5em 0;
    &::before {
        content: "(U). ";
    }
}

p {
    text-align: justify;
}

// 1, 2, 3, 4, 5, 6, 8, 9, 10
// 12, 15, 18, 20, 24, 30, 36
// 40, 45, 60, 72, 90, 180, 360
@include rotate(24);