* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #ffd220;
}
*::selection {
  background-color: #ffd220;
}

@font-face {
  font-family: "Veteran TypeWriter";
  src: url("/fonts/veteran_typewriter.ttf"), local("veteran_typewriter.ttf") format("ttf");
}
html,
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Veteran TypeWriter", "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1;
  background: #eee;
  overflow-x: hidden;
}

body {
  padding: 2em 0;
  cursor: none;
}

#cur {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 32px;
  height: 32px;
  background-image: url("/assets/cursor.webp");
  background-size: cover;
  z-index: 20000;
}

#postit {
  position: relative;
  top: 2.5%;
  left: 75%;
  width: 12.5em;
  height: 12.5em;
  background-image: url("/assets/postit.webp");
  background-size: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6666666667));
  padding: 1em;
  transform: rotate(10deg);
  z-index: 2000;
}
#postit > nav > ul {
  display: flex;
  flex-direction: column;
  list-style-type: "- ";
}
#postit > nav > ul a {
  text-decoration: none;
  color: #000;
}
#postit > nav > ul a.line {
  text-decoration: line-through;
}

main {
  display: flex;
  flex-direction: column;
  width: 210mm;
  height: 297mm;
  overflow: hidden;
  margin: auto;
  padding: 10mm 20mm;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07), 0 0 15px rgba(0, 0, 0, 0.34), 0 0 30px rgba(0, 0, 0, 0.67);
  border-radius: 5px;
  background-color: #eee;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSIyMDAiPjxwYXRoIHN0cm9rZT0iIzAwMCIgZD0iTTYwIDB2MjAwIi8+PC9zdmc+");
  background-repeat: repeat-y;
}
main section {
  display: block;
}
main section > div > img {
  float: right;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  filter: grayscale(1);
}
main section > div > p {
  text-align: justify;
}
main > header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main > header > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
main > header > span {
  margin: auto 0;
}

a {
  color: #000;
}

#cia {
  display: flex;
  margin-top: 1em;
  align-items: center;
}
#cia span {
  margin: 0 0.5em;
}

span.mark {
  position: relative;
  word-break: break-word;
}
span.mark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.5em 0.3em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.95));
  animation: slideout 0.5s 2s forwards;
}
span.stamp {
  font-size: 1.5em;
  color: #ec1313;
  text-transform: uppercase;
  border: 2px solid #ec1313;
  padding: 5px 10px;
  border-radius: 0.25rem;
}
span.stamp.bigger {
  font-size: 2.5em;
}
span.stamp.big {
  font-size: 2em;
}
span.stamp.small {
  font-size: 1em;
}
span.underline {
  text-decoration: underline;
}
span.bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, span, input, textarea, button {
  -webkit-mask-image: url("/assets/grunge.webp");
  -webkit-mask-size: 629.3333333333px 402.6666666667px;
  mask-image: url("/assets/grunge.webp");
  mask-size: 629.3333333333px 402.6666666667px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: " :";
}

h1 {
  padding: 0.5em 0;
}

h4 {
  margin: 0.5em 0;
}
h4::before {
  content: "(U). ";
}

h5, h6 {
  font-size: 0.75em;
}

h6 {
  margin: 0 0 0 2em;
}

ul {
  list-style: "- ";
}

p {
  text-align: justify;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}

input, textarea, select {
  width: 100%;
  min-height: 25px;
  border: none;
  border-radius: 10px;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: "Veteran TypeWriter", "Courier New", Courier, monospace;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 200px;
}

button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  min-height: 25px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  font-family: "Veteran TypeWriter", "Courier New", Courier, monospace;
}
button:hover {
  background: #eee;
}
button[type=button] {
  margin-top: 1em;
  padding: 0.75em;
}
button[type=submit] {
  margin: 0.5em 0;
  padding: 0.5em;
}

label::after {
  content: " :";
}

#skillsInfo {
  padding: 0.5em 0;
}

#skillsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  margin-top: 0.5em;
}
#skillsList > li {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 1em;
  border-radius: 20px;
}
#skillsList > li > p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0.25em 0;
}
#skillsList > li > p.skillLevel::before {
  content: "Niveau - ";
}

#hardskills > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
#hardskills > ul > li > ul > li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#hardskills > ul > li > ul > li > progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100px;
  margin: 0.25em 0;
}
#hardskills > ul > li > ul > li > progress::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2666666667) inset;
  border-radius: 20px;
  border: rgba(0, 0, 0, 0.2666666667) 1px solid;
}
#hardskills > ul > li > ul > li > progress::-webkit-progress-value {
  background-color: #000;
  border-radius: 20px;
}
#hardskills > ul > li > ul > li > progress::-webkit-progress-value {
  -webkit-mask-image: url("/assets/grunge.webp");
  -webkit-mask-size: 118px 466px;
  mask-image: url("/assets/grunge.webp");
  mask-size: 118px 466px;
}
#hardskills > ul > li > ul > li > progress::-moz-progress-bar {
  background-color: #000;
  border-radius: 20px;
}
#hardskills > ul > li > ul > li > progress::-moz-progress-bar {
  -webkit-mask-image: url("/assets/grunge.webp");
  -webkit-mask-size: 556px 313px;
  mask-image: url("/assets/grunge.webp");
  mask-size: 556px 313px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}
.cards > article {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 1em;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}
.cards > article p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0.25em 0;
}
.cards > article img {
  filter: grayscale(1);
  image-rendering: optimizeSpeed;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100px;
}

@keyframes slideout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@media screen and (max-width: 768px) {
  html,
  body {
    display: grid;
    padding: 0;
    margin: 0;
  }
  #cur {
    display: none;
  }
  #postit {
    position: absolute;
    width: 10em;
    height: 10em;
    transform: rotate(5deg);
  }
  main {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 2em;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
  }
  main > header {
    justify-content: space-evenly;
  }
  main > header > img {
    align-self: flex-start;
    width: 100px;
    height: 100px;
  }
  main > header > span {
    align-self: flex-end;
  }
  span.mark {
    -webkit-mask-image: url("/assets/grunge.webp");
    -webkit-mask-size: 944px 604px;
    mask-image: url("/assets/grunge.webp");
    mask-size: 944px 604px;
  }
  span.stamp {
    font-size: 1em;
    color: #ec1313;
    text-transform: uppercase;
    border: 2px solid #ec1313;
    padding: 5px 10px;
    border-radius: 0.25rem;
  }
  span.stamp.bigger {
    font-size: 2em;
  }
  span.stamp.big {
    font-size: 1.5em;
  }
  span.stamp.small {
    font-size: 0.5em;
  }
  section {
    margin-bottom: 0.5em;
  }
  #skillsList {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */