* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #ffd220;
}
*::selection {
  background-color: #ffd220;
}

@keyframes slide-out {
  to {
    transform: scaleX(0);
  }
}
/**/
@font-face {
  font-family: "Veteran TypeWriter";
  src: url("/fonts/veteran_typewriter.ttf"), local("veteran_typewriter.ttf") format("ttf");
}
html,
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Veteran TypeWriter", "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1;
  background: #eee;
  overflow-x: hidden;
}

body {
  padding: 2em;
}

#postit {
  position: relative;
  top: 2.5%;
  left: 75%;
  width: 12.5em;
  height: 12.5em;
  background-image: url("/assets/postit.webp");
  background-size: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6666666667));
  padding: 1em;
  transform: rotate(10deg);
}
#postit > nav > ul {
  display: flex;
  flex-direction: column;
  list-style-type: "- ";
}
#postit > nav > ul a {
  text-decoration: none;
  color: #000;
}
#postit > nav > ul a.line {
  text-decoration: line-through;
}

main {
  display: flex;
  flex-direction: column;
  width: 202.0625mm;
  height: 297mm;
  overflow: hidden;
  margin: auto;
  padding: 20mm;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07), 0 0 15px rgba(0, 0, 0, 0.34), 0 0 30px rgba(0, 0, 0, 0.67);
  border-radius: 5px;
  border-color: #eee;
  border-left: 30px solid #eee;
  -o-border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="52" viewBox="0 0 42 52"><path fill="#fff" d="M0 0v25.247h7.121c.503-5.006 4.728-8.914 9.866-8.914 5.476 0 9.917 4.44 9.917 9.917s-4.44 9.917-9.917 9.917c-5.138 0-9.363-3.908-9.866-8.914H0V52.5h42V0z"/></svg>') 5% 100% repeat;
     border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="52" viewBox="0 0 42 52"><path fill="#fff" d="M0 0v25.247h7.121c.503-5.006 4.728-8.914 9.866-8.914 5.476 0 9.917 4.44 9.917 9.917s-4.44 9.917-9.917 9.917c-5.138 0-9.363-3.908-9.866-8.914H0V52.5h42V0z"/></svg>') 5% 100% repeat;
  border-image-width: 0 0 0 30px;
  background: #eee;
}
main > header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}
main > header > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
main > header > span {
  margin: auto 0;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

span.mark {
  -webkit-mask-image: url("/assets/grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("/assets/grunge.png");
  mask-size: 944px 604px;
}
span.stamp {
  font-size: 24px;
  color: #ec1313;
  text-transform: uppercase;
  border: 2px solid #ec1313;
  padding: 5px 10px;
  border-radius: 0.25rem;
}
span.stamp.bigger {
  font-size: 48px;
}
span.stamp.big {
  font-size: 32px;
}
span.stamp.small {
  font-size: 16px;
}
span.underline {
  text-decoration: underline;
}
span.bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, span, input, textarea, button {
  -webkit-mask-image: url("/assets/grunge.png");
  -webkit-mask-size: 629.3333333333px 402.6666666667px;
  mask-image: url("/assets/grunge.png");
  mask-size: 629.3333333333px 402.6666666667px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: " :";
}

h4 {
  margin: 0.5em 0;
}
h4::before {
  content: "(U). ";
}

p {
  text-align: justify;
}

input, textarea, select {
  width: 100%;
  min-height: 25px;
  border: none;
  border-radius: 10px;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: "Veteran TypeWriter", "Courier New", Courier, monospace;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 200px;
}

button {
  cursor: pointer;
  background: #fff;
  min-height: 25px;
  border: none;
  border-radius: 10px;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: "Veteran TypeWriter", "Courier New", Courier, monospace;
}
button:hover {
  background: #eee;
}

label::after {
  content: " :";
}

#skillsInfo {
  padding: 0.5em 0;
}

#skillsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  margin-top: 0.5em;
}
#skillsList > li {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 1em;
  border-radius: 20px;
}
#skillsList > li > p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0.25em 0;
}
#skillsList > li > p.skillLevel::before {
  content: "Niveau - ";
}/*# sourceMappingURL=styles.css.map */