# Activer le module de réécriture
RewriteEngine On

# Rediriger les URLs sans extension vers les fichiers HTML correspondants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ /pages/$1.html [L]

# Rediriger l'URL racine vers index.html
RewriteRule ^$ index.html [L]