.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;

    > article {
        display: flex;
        flex-direction: column;
        background: #fafafa;
        padding: 1em;
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
        text-align: center;

        p {
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-word;
            margin: 0.25em 0;
        }

        img {
            filter: grayscale(1);
            image-rendering: optimizeSpeed;
            object-fit: contain;
            max-height: 100px;
        }
    }
}
