@function counter($balise, $max: 6, $extra: "") {
    $content: "";
    $i: 1;
    @while ($i < $max) {
        $content: "#{$content}#{$balise}#{$i}, ";
        $i: $i+1;
    }

    $content: "#{$content}#{$balise}#{$i}";

    @if ($extra != '') {
        $content: "#{$content}, #{$extra}";
    }

    @return $content;
}

@function random-between($min, $max) {
    @return $min + random($max - $min + 1) - 1;
}